[MASTER]
init-hook='import sys; sys.path.append("./src")'
disable=fixme,logging-fstring-interpolation,too-many-arguments,too-few-public-methods,missing-class-docstring,missing-module-docstring,missing-function-docstring,too-many-locals
